# Node dependencies
node_modules/

# Build output
build/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.cache/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Misc
*.log
